body, button{
  font-size: 50px;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 800px;
  background-color: teal;
}

#timerDisplay{
  background-color: white;
  border-radius: 50%;
  padding: 1em;
}

button{
  font-size: 30px;
  margin-top: 40px;
}

#controlDisplay{
  display: flex;
  justify-content: space-around;
}
